{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Today we have: {% endblock %}</h1>
    {% for product in product %}
        <div class='post'>
            <p>Name: {{ product['product_name'] }}</p>
            <h2>Price: {{ product['price'] }}$</h2>
            <p>Left: {{ product['quantity'] }} </p>
            <form method="post" action="/">
                <input type="hidden" name="name" value="{{ product['productID'] }}"/>
                <input type="text" id="number" placeholder="1" name="number"/><br>
                <input type="submit" value="Add to cart"/>
            </form>
        </div>
    {% endfor %}
    
{% endblock %}